.gpt3__blog {
  display: flex;
  flex-direction: column;
}

.gpt3__blog-heading {
  width: 100%;
  text-align: left;

  margin-bottom: 5rem;
}

.gpt3__blog-heading h1 {
  font-size: 62px;
  font-weight: 800;
  font-family: var(--font-family);
  line-height: 75px;
}

.gpt3__blog-content {
  display: flex;
  gap: 2rem;
}

.gpt3__blog-content_groupA {
  flex: 0.75;
}

.gpt3__blog-content_groupB {
  flex: 1;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

@media screen and (max-width: 990px) {
  .gpt3__blog-content {
    flex-direction: column-reverse;
  }

  .gpt3__blog-content_groupA .gpt3__blog-content_article {
    width: 48%;
  }

  .gpt3__blog-content_groupA .gpt3__blog-content_article-image {
    height: 250px;
  }
}

@media screen and (max-width: 700px) {
  .gpt3__blog-content_groupB {
    grid-template-columns: repeat(1, 1fr);
  }

  .gpt3__blog-content_groupA .gpt3__blog-content_article {
    width: 100%;
  }

  .gpt3__blog-heading h1 {
    font-size: 46px;
    line-height: 52px;
  }
}

@media screen and (max-width: 550px) {
  .gpt3__blog-heading h1 {
    font-size: 34px;
    line-height: 42px;
  }
}
